.carousel-container {
  aspect-ratio: 16/9;
  background-color: #f1f1f1;
  display: flex;
  max-width: 72rem;
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  text-align: center;
  user-select: none;
}

.carousel__item {
  color: black;
  display: grid;
  height: 100%;
  object-fit: cover;
  place-items: center;
  transition: 1s ease-in-out;
  user-select: none;
  user-select: none;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.controls__arrow {
  height: 35px;
  width: 35px;
  user-select: none;
}

@media screen and (min-width: 640px) {
  .controls__arrow {
    height: 40px;
    width: 40px;
  }

  .carousel__controls {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .controls__arrow {
    height: 45px;
    width: 45px;
  }

  .carousel__controls {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .controls__arrow {
    height: 55px;
    width: 55px;
  }
}
